<!DOCTYPE html >
  <head>
    <title>Simple CMS <%= "| #{@page_title}" if @page_title %></title>
    <%= stylesheet_link_tag('public') %>
  </head>
  <body>
    <div id="header">
      <h1>Simple CMS</h1>
    </div>
    <div id="main">
      <div id="navigation">
       <%= render(:partial =>'layouts/navigation',:locals => {:subjects => @subject}) %>
      </div>
    
      <div id="sign_in">
      	  <% if current_user %>
 	       Welcome <%= current_user.name %>!
 	       <%= link_to "Sign Out", signout_path %>
            <% else %>
                <%= link_to "Sign in with Facebook", "/auth/facebook" %>
       <% end %>
      </div>
      <div id="content">
        <%= yield %>
      </div>
      <div class="clear"></div>
    </div>
    <div id="footer">
      <p id="copyright">&copy; shrikrushna.com / Shrikrushna Jaiwal </p>
    </div>
  </body>
</html>

